@{
    Layout = @"/_Layout.cshtml";
}

@Html.Partial("_partials/_titleHeader")

<!-- Basic page layout -->
<div class="container mx-auto">
    <div class="flex">
        <div class="w-full">
            @RenderBody()
        </div>
    </div>
</div>
