Title: About
ShowInNavbar: true
Order: 3

Layout: /_BasicPageLayout.cshtml
---
<div class="flex flex-wrap p-10">
    <div class="md:w-1/4">
        <img src="/img/ankush-jain.png" class="w-full h-auto rounded-md" alt="Ankush Jain" />
    </div>
    <div class="md:w-3/4 pt-2">
        <p class="p-5">
            Hey! I'm Ankush Jain 👋
            <br /><br />
            I'm a Full Stack Engineer with 10+ years of experience in Software Development. I love building web applications and cloud solutions.
            <br /><br />
            My technology stack mostly revolves around .NET, AWS, Azure & JavaScript.
            <br /><br />
            I currently work with <a href="https://aws.amazon.com/" class="text-blue-800 underline">Amazon Web Services</a> at Pune, India.
            <br /><br />
            You can reach out to me at <a href="https://www.linkedin.com/in/ankush-jain-developer/" class="text-blue-800 underline">LinkedIn</a> or mail me directly at <a href="mailto:ankushjain358@gmail.com" class="text-blue-800 underline">ankushjain358@gmail.com</a>.
        </p>
    </div>
    <div class="w-full mt-5">
        <h5 class="text-lg font-bold mb-3">Additional Profiles</h5>
        <a class="bg-blue-800 text-white px-4 py-2 rounded-md inline-block mb-2" target="_blank" href="https://www.linkedin.com/in/ankush-jain-developer/"><span class="fa-brands fa-linkedin me-2"></span>LinkedIn</a>
        <a class="bg-blue-800 text-white px-4 py-2 rounded-md inline-block mb-2" target="_blank" href="https://stackoverflow.com/users/1273882/ankush-jain"><span class="fa-brands fa-stack-overflow me-2"></span>Stack Overflow</a>
        <a class="bg-blue-800 text-white px-4 py-2 rounded-md inline-block mb-2" target="_blank" href="https://github.com/ankushjain358"><span class="fa-brands fa-github me-2"></span>GitHub</a>
        <a class="bg-blue-800 text-white px-4 py-2 rounded-md inline-block mb-2" target="_blank" href="https://www.facebook.com/IamAnkushJain1990"><span class="fa-brands fa-facebook me-2"></span>Facebook</a>
        <a class="bg-blue-800 text-white px-4 py-2 rounded-md inline-block mb-2" target="_blank" href="https://www.instagram.com/ankushjain358/"><span class="fa-brands fa-instagram me-2"></span>Instagram</a>
    </div>
</div>

