Title: Contact
ShowInNavbar: true
Order: 4

Layout: /_BasicPageLayout.cshtml
---
<div class="row">
    <div class="col-md-12">
        <p>
            You can share me your feedback, suggestions and questions by emailing me at <a href="mailto:ankushjain358@gmail.com">ankushjain358@gmail.com</a>.
            <br /><br />
            Alternatively, you can reach out to me at <a href="https://www.linkedin.com/in/ankush-jain-developer/">LinkedIn</a>.
        <p>
    </div>
    <div class="col-md-12  mt-5">
        <h5 class="mb-3">Additional Profiles</h5>
        <a class="btn btn-primary mb-2" target="_blank" href="https://www.linkedin.com/in/ankush-jain-developer/"><b><span class="fa-brands fa-linkedin me-2"></span></b>LinkedIn</a>
        <a class="btn btn-primary mb-2" target="_blank" href="https://stackoverflow.com/users/1273882/ankush-jain"><b><span class="fa-brands fa-stack-overflow me-2"></span></b>Stack Overflow</a>
        <a class="btn btn-primary mb-2" target="_blank" href="https://github.com/ankushjain358"><b><span class="fa-brands fa-github me-2"></span></b>GitHub</a>
        <a class="btn btn-primary mb-2" target="_blank" href="https://www.facebook.com/IamAnkushJain1990"><b><span class="fa-brands fa-facebook me-2"></span></b>Facebook</a>
        <a class="btn btn-primary mb-2" target="_blank" href="https://www.instagram.com/ankushjain358/"><b><span class="fa-brands fa-instagram me-2"></span></b>Instagram</a>
    </div>
</div>