Title: Contact
ShowInNavbar: true
Order: 4

Layout: /_BasicPageLayout.cshtml
---
<div class="px-10">
    <p>
        You can share your feedback, suggestions, and questions by emailing me at <a
            href="mailto:ankushjain358@gmail.com" class="text-blue-800 underline">ankushjain358@gmail.com</a>.
        <br>
        <br>
        Alternatively, you can reach out to me on <a href="https://www.linkedin.com/in/ankush-jain-developer/"
            class="text-blue-800 underline">LinkedIn</a>.
    </p>
    <div class="my-5">
        <h5 class="mb-3">Additional Profiles</h5>
        <a class="bg-blue-800 text-white px-4 py-2 rounded-md inline-block" target="_blank"
            href="https://www.linkedin.com/in/ankush-jain-developer/"><span
                class="fa-brands fa-linkedin me-2"></span>LinkedIn</a>
        <a class="bg-blue-800 text-white px-4 py-2 rounded-md inline-block" target="_blank"
            href="https://stackoverflow.com/users/1273882/ankush-jain"><span
                class="fa-brands fa-stack-overflow me-2"></span>Stack Overflow</a>
        <a class="bg-blue-800 text-white px-4 py-2 rounded-md inline-block" target="_blank"
            href="https://github.com/ankushjain358"><span class="fa-brands fa-github me-2"></span>GitHub</a>
        <a class="bg-blue-800 text-white px-4 py-2 rounded-md inline-block" target="_blank"
            href="https://www.facebook.com/IamAnkushJain1990"><span class="fa-brands fa-facebook me-2"></span>Facebook</a>
        <a class="bg-blue-800 text-white px-4 py-2 rounded-md inline-block" target="_blank"
            href="https://www.instagram.com/ankushjain358/"><span class="fa-brands fa-instagram me-2"></span>Instagram</a>
    </div>
</div>
