Title: Home
Description: Welcome to CoderJony. You can find here a huge collection of technical articles &amp; bugs solutions that will surely help you in your design &amp; development phase. Apart from this, you will also find a good collection of Interview Questions that will definitely help you in your interview preparation. Most of the stuff you will find here will be related to Microsoft Technologies &amp; other open source technolgies i.e. C#, .NET, ASP.NET, MVC, TFS, VIsual Studio, JavaScript, Git, PowerShell etc.
---

@{
    IDocument[] posts = Outputs.FromPipeline("Content")
            .FilterSources(GlobalMetadata.GetBlogSources(Document))
            .OrderByDescending(item => item.GetDateTime(BlogMetadataKeys.Published))
            .Where(item => item.GetBool(BlogMetadataKeys.IsActive))
            .ToArray();
}
<div class="bg-light p-5 mb-4 row">
    <div class="col-md-8">
        <h5>coderjony</h5>
        <h1>Hey! I'm Ankush Jain</h1>
        <p class="lead">
            I'm a Full Stack Engineer with 10+ years of experience in Software Development. I love building web applications
            and cloud solutions.</p>
        <p class="lead">My technology stack mostly revolves around .NET, AWS, Azure & JavaScript.</p>
        <p class="lead">I write articles about Web Development and Cloud Computing.</p>
        <a class="btn btn-lg btn-success" href="https://www.linkedin.com/in/ankush-jain-developer/">Connect via LinkedIn
            &raquo;</a>
    </div>
    <div class="col-md-4 pt-md-0 pt-3">
        <div class="d-flex justify-content-between">
            <a href="https://www.credly.com/badges/22a0978d-0849-4047-a7ca-fa2fc0df99c0" target="_blank" class="p-3"
                title="AWS Certified Solutions Architect – Associate">
                <img src="https://images.credly.com/size/680x680/images/0e284c3f-5164-4b21-8660-0d84737941bc/image.png" class="img-thumbnail">
            </a>
            <a href="https://www.credly.com/badges/abfec068-b3f5-4b45-80c8-0e165b42e1b2" target="_blank" class="p-3"
                title="Microsoft Certified: Azure Fundamentals">
                <img src="https://images.credly.com/size/680x680/images/be8fcaeb-c769-4858-b567-ffaaa73ce8cf/image.png" class="img-thumbnail" />
            </a>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-4 ">
    @foreach (var post in posts)
    {
        @Html.Partial("/_partials/_post.cshtml", post)   
    }
</div>

<div class="bg-white p-5 row">
    <div class="col-md-12">
        <h1>Built with <a class="text-decoration-none link-success" href="https://www.statiq.dev/"
                target="_blank">Statiq.dev</a></h1>
        <p class="lead">
            This website is built with <a class="text-decoration-none link-success"
                href="https://www.statiq.dev/" target="_blank">Statiq.dev</a>. Statiq is a powerful
            static-site
            generator framework written completely in .NET Core. This framework allows you build stunning static
            websites using your knowledge of .NET.
        </p>
        <p class="lead">I have made this website's source code public. It can be accessed from <a
                href="https://github.com/ankushjain358/coderjony-statiq-blog" class="text-decoration-none link-success">GitHub repository.</a></p>
        <p class="lead">
           Few websites build with Statiq:
        <ul class="lead">
            <li><a href="https://dotnetfoundation.org/" class="text-decoration-none link-success" target="_blank">.NET Foundation</a></li>
            <li><a href="https://www.techwatching.dev/" class="text-decoration-none link-success" target="_blank">Techatching.dev</a></li>
            <li><a href="https://www.tryingtocode.co.uk/" class="text-decoration-none link-success" target="_blank">TryingToCode</a></li>
            <li><a href="https://www.developmomentum.com/" class="text-decoration-none link-success" target="_blank">Develop Momentum</a></li>
        </ul>
        </p>
    </div>
</div>