<div class="row py-5 px-2 mb-5 text-white bg-dark">
    <div>
        <h1 class="mb-5">
            <?#= Title /?>
        </h1>
        <div>
            <ul class="list-group">
                <li class="list-group-item bg-transparent text-white">
                   Published by <?#= Author /?>
                </li>
                <li class="list-group-item bg-transparent text-white">
                    Published on @Document.GetDateTime(WebKeys.Published).DayOfWeek, @Document.GetDateTime(WebKeys.Published).ToString("MMM dd, yyyy")
                </li>
                @if (Document.ContainsKey("Tags"))
                {
                    <li class="list-group-item bg-transparent text-white">
                        @foreach (string tag in Document.GetList<string>("Tags"))
                        {
                            <a class="btn btn-sm btn-light">@tag</a>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>