<div class="row py-5 px-2 mb-5 text-white bg-dark">
    <div>
        <h1 class="mb-4">
            <?#= Title /?>
        </h1>
        <div>
            <ul class="list-group">
                <li class="list-group-item">
                   Author: <?#= Author /?>
                </li>
                <li class="list-group-item">
                    Published: <?#= Published /?>
                </li>
                @if (Document.ContainsKey("Tags"))
                {
                    <li class="list-group-item">
                        @foreach (string tag in Document.GetList<string>("Tags"))
                        {
                            <a class="btn btn-success">@tag</a>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>