ArchiveSources: => GetString(GlobalMetadataKeys.BlogSources)
ArchiveFilter: => GetBool("IsActive") 
ArchivePageSize: 5
ArchiveOrderKey: => GetDateTime("Published")  
ArchiveOrderDescending: true
ArchiveTitle: => GetString("Title")
Layout: /_Layout.cshtml


Title: Blogs
---

<div class="row">

<p class="font-weight-bold">Page @Model.GetString(Keys.Index)</p>

@foreach (IDocument document in Model.GetChildren())
{
    @Html.Partial("/_partials/_post.cshtml", document)   
}

@{
    IDocument previous = Model.GetDocument(Keys.Previous);
    IDocument next = Model.GetDocument(Keys.Next);
}
<div class="col-md-12 d-flex justify-content-between">
        @if (previous != null)
        {
        <a class="btn btn-primary" href="@previous.GetLink()" role="button"><i class="fas fa-angle-double-left"></i>
            Previous Page</a>
        }
        @if (next != null)
        {
        <a class="btn btn-primary" href="@next.GetLink()" role="button">Next Page <i
            class="fas fa-angle-double-right"></i></a>
        }
</div>

</div>
@* 
References for Archive
1. https://github.com/statiqdev/Statiq.Web/blob/main/examples/Statiq.Web.Examples/input/archives/paged-archive.cshtml 

References for Enumerate
1. https://github.com/dotnet-foundation/website/blob/main/input/blog/archive.cshtml *@