/* Start: Blog Page */
.cj-author-link
{
    color: #6c757d !important;
}

/* End: Common */






/* Start: Sidebar */

.cj-sidebar-title {
    display: block!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

/* End: Sidebar */